<p id="notice"><%= notice %></p>

<p>
  <strong>Student name:</strong>
  <%= @activity_teaching.student_name %>
</p>

<%= link_to 'Edit', edit_activity_teaching_path(@activity_teaching) %> |
<%= link_to 'Back', activity_teachings_path %>
