<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_writing.name %>
</p>

<%= link_to 'Edit', edit_activity_writing_path(@activity_writing) %> |
<%= link_to 'Back', activity_writings_path %>
