<h1>Editing Activity Development</h1>

<%= render 'form', activity_development: @activity_development %>

<%= link_to 'Show', @activity_development %> |
<%= link_to 'Back', activity_developments_path %>
