<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_development.name %>
</p>

<%= link_to 'Edit', edit_activity_development_path(@activity_development) %> |
<%= link_to 'Back', activity_developments_path %>
