<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_paperwork.name %>
</p>

<%= link_to 'Edit', edit_activity_paperwork_path(@activity_paperwork) %> |
<%= link_to 'Back', activity_paperworks_path %>
