<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_holiday.name %>
</p>

<%= link_to 'Edit', edit_activity_holiday_path(@activity_holiday) %> |
<%= link_to 'Back', activity_holidays_path %>
