<h1>Editing Activity Preparation</h1>

<%= render 'form', activity_preparation: @activity_preparation %>

<%= link_to 'Show', @activity_preparation %> |
<%= link_to 'Back', activity_preparations_path %>
