<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity_preparation.name %>
</p>

<%= link_to 'Edit', edit_activity_preparation_path(@activity_preparation) %> |
<%= link_to 'Back', activity_preparations_path %>
